<div>
  <h4>All of Schegule</h4>
</div>
<div>
  <%= link_to "NewSchegule", new_apo_path %>
</div>
<%= week_calendar(number_of_weeks: 2, events: @apos) do |date, apos| %>
  <%= date %>
    <% apos.each do |apo| %>
      <div>
        <%= link_to "#{apo.name}", apo_path(apo.id) %>
      </div>
    <% end %>
<% end %>